.auth {
  box-sizing: border-box;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  font-size: 1rem;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  color: rgb(4, 4, 4);
  height: auto;
  padding: 12px 24px;
  border-radius: 4px;
  transition: all 200ms ease 0s;

  &:active:not(:disabled) {
    transform: scale(0.98);
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;
    transform: scale(1.05);
  }
}

.auth--connected {
  background-color: var(--danger);
  color: white;
}

.logo {
  scale: 1.3;
  margin-inline-end: 10px;
}
