.edit-intervals-component {
  .unavailable {
    border: 1px dashed lightgray;
    padding: 10px;
    color: gray;
  }

  table.times {
    .remove {
      cursor: pointer;
    }

    tr {
      td {
        vertical-align: middle;
        padding: 0.25rem;

        input {
          text-align: center;
        }
      }
    }
  }
}
