.row-component {
  border-bottom: 2px solid lightgray;

  .meeting-wrapper {
    &.decoration-line-through {
      .name,
      .answer {
        text-decoration: line-through;
      }
    }
    .actions-wrapper {
      font-size: 1.6rem;
    }
  }
}
