@import url('~react-dates/lib/css/_datepicker.css');

:global {
  .CalendarDay__blocked_out_of_range {
    cursor: default !important;
  }

  .DateInput_input {
    font-size: inherit;
  }

  .DateRangePickerInput_clearDates {
    > svg {
      width: 12px;
      height: 12px;
    }
  }

  .DateRangePickerInput_arrow_svg {
    width: 20px;
  }
}
