.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 65px;
  height: 38px;
  scale: -0.7;

  .switchbox {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .switchbox + label {
    display: block;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    height: 38px;
    width: 65px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: all 300ms cubic-bezier(0.4, 0.5, 0, 1) 150ms;
  }

  .switchbox + label::before {
    content: '';
    height: 34px;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 34px;
    background: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15), 0 3px 1px rgba(0, 0, 0, 0.1),
      0 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    transition: all 600ms cubic-bezier(0.4, 0.5, 0, 1);
    transform: translate(0px);
  }

  .switchbox:checked + label {
    box-shadow: inset 0 0 0 20px #4cd964;
    transition: all 300ms cubic-bezier(0.4, 0.5, 0, 1);
  }

  .switchbox:checked + label::before {
    transform: translate(27px);
  }
}
