:global {
  .fc {
    // Fix not getting invisible while tab loading
    position: inherit;
    z-index: 0;

    a {
      color: inherit;

      &:hover {
        color: inherit;
      }
    }

    .fc-event {
      background-color: var(--gray);
      color: white;
      padding: 0.4rem 0;

      &:hover {
        background-color: var(--primary);
        color: white;
      }
    }

    .fc-daygrid-day {
      cursor: pointer;
      &:hover {
        position: relative;
        border: 1px double var(--primary);
        box-shadow: 0px 0px 13px -7px rgba(0, 0, 0, 0.75);
      }

      &.fc-day-past {
        background-color: #f6f6f6;
      }

      &.fc-day-future {
        background-color: white;
      }

      &.fc-day-today {
        background-color: white;
      }
    }

    .fc-daygrid-day-events {
      text-align: center;
      font-size: 0.95rem;

      .fc-daygrid-event {
        .fc-event-time {
          margin-left: auto;
          margin-right: auto;
        }

        .fc-event-title,
        .fc-daygrid-event-dot {
          display: none;
        }
      }
    }

    .fc-daygrid-day-top {
      .fc-daygrid-day-number {
        color: #a8a8a8;
        font-size: 0.75rem;
        margin-inline-end: 4px;
        margin-top: 4px;
      }
    }

    .fc-toolbar-title {
      font-size: larger;
    }
  }
}
