.apply-to-multiple-component {
  @import url('~react-dates/lib/css/_datepicker.css');

  .DayPicker {
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  .back {
    color: #007bff;
    cursor: pointer;
  }
}
