@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
html,
body,
#root {
  height: 100%; }

html {
  overflow-x: hidden;
  overflow-y: auto;
  position: unset; }

body {
  cursor: default; }

* {
  font-family: IRANSans, 'Open Sans', sans-serif !important; }

.dir-ltr {
  /*rtl:ignore*/
  direction: ltr; }

.dir-rtl {
  /*rtl:ignore*/
  direction: rtl; }

.btn-as-text {
  background: none !important;
  border: none;
  padding: 0 !important; }
  .btn-as-text:focus, .btn-as-text:active {
    outline: none; }
  .btn-as-text:disabled {
    color: gray !important; }

.w-35 {
  width: 35% !important; }

.step.step-centered .step-item:last-child .step-icon::after {
  display: none; }

.dropdown-item-icon {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px; }

.input-group .input-group-append,
.input-group .input-group-prepend {
  z-index: 0; }
