.meeting-component {
  .card {
    .card-header {
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);

      .nav-link {
        $navLinkBorderBottomSize: 3px;

        color: #677788;
        line-height: 40px;

        border-bottom: $navLinkBorderBottomSize solid transparent !important;

        &:not(.active) {
          color: gray;
        }

        &:hover:not(.active) {
          border-bottom-color: lightgray !important;
        }

        &.active {
          border-bottom-color: var(--primary) !important;
        }
      }
    }

    .card-body {
      .datetime-wrapper {
        border-bottom: 1px solid #dadada;
        border-top: 1px solid #dadada;
      }
    }
  }
}
