.notification--content {
  display: table-cell;
  padding-inline-end: 15px;
  vertical-align: middle;
  color: #747f8b;
  cursor: pointer;
  font-size: 14px;
  word-spacing: 2px;
  line-height: 21px;
}
