$activeColor: #377dff;

:global {
  .filepond--root {
    width: 120px;
    cursor: default;

    &[data-style-panel-layout~='circle'] {
      overflow: visible;

      .filepond--file [data-align*='right'] {
        right: 0;
      }

      .filepond--file [data-align*='left'] {
        left: 0;
      }
    }

    &.avatar-img {
      pointer-events: all !important;
    }
  }

  .filepond--drop-label {
    cursor: pointer;

    label {
      padding: 0 !important;
    }
  }

  .filepond--label-action {
    text-decoration: none;
  }

  .filepond--file [data-align*='bottom'] {
    bottom: 0;
  }

  .filepond--list-scroller {
    overflow: visible !important;
  }

  .avatar-uploader {
    &:hover {
      .filepond--file-action-button > svg:hover {
        background-color: $activeColor;
        color: white;
      }

      .filepond--label-action > svg {
        color: $activeColor;
      }
    }
  }

  .filepond--file-action-button {
    cursor: pointer !important;
    border-radius: 50% !important;
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
    background: none !important;
    transition: none !important;
    box-shadow: none !important;

    &:after {
      display: none;
    }

    > svg {
      display: inline-flex;
      flex-shrink: 0;
      padding: 9px;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border-radius: 50%;
      transition: 0.2s;
      box-shadow: 0 3px 6px 0 rgba(140, 152, 164, 0.25) !important;
      color: #677788;
    }
  }

  .filepond--image-preview-overlay {
    display: none !important;
  }

  .avatar-xxl .filepond--file-action-button > svg {
    width: 2.1875rem !important;
    height: 2.1875rem !important;
  }

  .filepond--file,
  .filepond--file-wrapper,
  .filepond--item {
    margin: 0 !important;
    padding: 0 !important;
  }
}
