@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html,
body,
#root {
  height: 100%;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  // Fix: Front set `position: relative` to `html` tag which causes weird behavior for overlay tooltips.
  position: unset;
}

body {
  cursor: default;
}

* {
  font-family: IRANSans, 'Open Sans', sans-serif !important;
}

.dir-ltr {
  /*rtl:ignore*/
  direction: ltr;
}

.dir-rtl {
  /*rtl:ignore*/
  direction: rtl;
}

.btn-as-text {
  background: none !important;
  border: none;
  padding: 0 !important;

  &:focus,
  &:active {
    outline: none;
  }

  &:disabled {
    color: gray !important;
  }
}

.w-35 {
  width: 35% !important;
}

// Fix: hide the last item's line
.step.step-centered .step-item:last-child .step-icon::after {
  display: none;
}

.dropdown-item-icon {
  // Fix: Front uses `width` for applying margins, but it doesn't work for fontawesome.
  margin-inline-end: 10px;
}

.input-group .input-group-append,
.input-group .input-group-prepend {
  // Fix: Front set `z-index: 4`, but it causes bad tab loading.
  z-index: 0;
}
