.notification {
  background: #ffffff;
  padding: 15px;
  border: 0px;
  border-style: solid;
  border-bottom-width: 1px;
  border-image: linear-gradient(
      to right,
      lighten(#e3ebef, 10%) 0%,
      lighten(#9fb6c3, 15%) 40%,
      lighten(#9fb6c3, 15%) 60%,
      lighten(#e3ebef, 10%) 100%
    )
    1 20%;
  opacity: 0.7;

  &.notification-unread {
    transition: all 500ms ease;
    opacity: 1;
  }
}
