.predefined-input-component {
  $border-size: 2px;

  .predefined {
    min-width: 50px;
    text-align: center;
    border: $border-size solid lightgrey;
    cursor: pointer;
    margin-inline-end: -$border-size;
    outline: none;
    user-select: none;

    &.custom {
      width: 86px;

      input {
        border: 0;
        text-align: center;
        border-radius: 0;
        box-shadow: none;
        height: fit-content;
        font-weight: bold;
        appearance: none;
        font-size: 1rem;
        caret-color: #495057;

        &:focus::placeholder {
          color: transparent;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }
    }

    p {
      margin: 0;
      padding: 0;
    }

    &.active,
    &:focus {
      border: $border-size solid var(--teal);
      z-index: 0;

      .item {
        font-weight: bold;
      }
    }
  }
}
