.copyright {
  background-color: #161d27;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #a4aaaa;
  font-weight: normal;
  text-align: center;

  a {
    color: white;

    &:focus,
    &:visited,
    &:active {
      color: white;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.social-networks {
  background-color: var(--teal);
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;

  svg {
    font-size: 1.3rem;
  }

  a {
    color: white;

    &:focus,
    &:visited,
    &:active {
      color: white;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.contacts {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #1d2331;
  color: white;
  font-weight: normal;

  h6 {
    text-transform: uppercase;
  }

  .content {
    color: #a4aaaa !important;

    a {
      color: inherit;

      &:focus,
      &:visited,
      &:active {
        color: inherit;
      }

      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  hr.divider {
    border-top: 2px solid var(--teal);
    display: block;
    width: 50px;
    max-width: 50px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  svg {
    font-size: 0.9rem;
    color: white;
  }
}

footer {
  background-color: #ffffff !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
