.avatar:not(img) {
  background-color: #fff;
}

.avatar-sm {
  width: 2.1875rem;
  height: 2.1875rem;
}

.avatar {
  position: relative;
  display: inline-block;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 0.3125rem;
}

.avatar-img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  border-radius: inherit;
}

.avatar-circle {
  border-radius: 50%;
}
